<div class="col-xs-12 col-md-4 text-center">
  <div class="map-card">
    <div class="card">
      <%= link_to account_exchange_path(exchange) do %>
        <h5><%= exchange.title %></h5>
        <p><%= exchange.amount %></p>
        <p><%= exchange.pair_currency %></p>
        <% end %>
    </div>
  </div>
</div>
