<div class="col-xs-12 col-md-4 text-center">
  <div class="map-card">
    <div class="card">
      <%= link_to account_exchange_path(exchange) do %>
        <h5><%= exchange.title %></h5>
        <div class="row padding-top">
          <div class="col-xs-12 col-md-6">
            <%= image_tag user_pict(exchange.user), class: "card-user avatar avatar-large avatar-bordered" %>
            <%= exchange.user.first_name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
