<div class="body-colored">
  <div class="banner index-img-cover">
    <div class="banner-content text-center">
      <h1>Discover All Exchanges</h1>
    </div>
    <div class="container search-bar">
      <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
          <form role="form" action="/exchanges/" class="form-inline">
            <div class="form-group text-center">
              <fieldset>
                <%= text_field_tag :city, params[:city], id: "user_input_autocomplete_address", class: "searchbar-input allwidth-xs form-control", placeholder: "City" %>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 padding-top"></div>
      <% @exchanges.each do |exchange| %>
        <%= render 'exchange_box', exchange: exchange %>
      <% end %>
    </div>
  </div>
</div>

<!-- Include Google Maps JS API -->

<% content_for(:after_js) do %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GGL_MAP_JS_BROWSER_API_KEY']}" %>
  <%= javascript_include_tag 'autocomplete.js' %>

<% end %>
