<div class="container">
  <div class="row">
    <div class="col-xs-12 padding-top"></div>
    <% @exchanges.each do |exchange| %>
      <%= render 'exchange_box', exchange: exchange %>
    <% end %>
  </div>
</div>
