/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */
 .bg-image {
    background      : url(image_path('efx-bg.jpg')) no-repeat center center fixed;
    background-size : cover;
    position        : relative;
    min-height      : 90vh;
}

.intro-text {
  margin-top  : 200px;
  color       : #FF5400;
  text-shadow : black 0.1em 0.1em 0.2em;
  text-align  : center;
}

.promo-box {
  margin-top       : 100px;
  color            : #FFFFFF;
  padding          : 10px;
  background-color : rgba(0,0,0,0.6);
  border-radius    : 3px;
}

.banner-image {
    background-image    : image-url('billet-bg.jpg');
    background-repeat   : no-repeat;
    background-position : center;
    background-size     : cover;
    position            : relative;
    min-height          : 60vh;
}

.about-efx {
  margin-top  : 100px;
  color       : #FFF;
  text-shadow : black 0.1em 0.1em 0.2em;
}
