<div class="footer">
  <div class="container socials">
    <div class="row">
      <ul class="list-inline">
        <div class="text-center col-xs-4 col-md-offset-9 col-md-1">
          <%= link_to "https://www.linkedin.com/", :target => "_blank" do %>
          <li class="fa fa-linkedin"></li>
          <% end %>
        </div>
        <div class="text-center col-xs-4 col-md-1">
          <%= link_to "https://www.facebook.com/moneafx/", :target => "_blank" do %>
          <li class="fa fa-facebook"></li>
          <% end %>
        </div>
        <div class="text-center col-xs-4 col-md-1">
          <%= link_to "https://www.twitter.com/", :target => "_blank" do %>
          <li class="fa fa-twitter"></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
