<div class="text-center bg-image">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12">
        <div class="intro-text">
          <h1><span>Easy</span> <span>Forex</span></h1>
          <h3>The best website of currency exchange between individuals !</h3>
          <hr>
          <p>-- Opening Soon --</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">How does the exchange work?</h2>
    <hr>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-upload"></li>
      </div>
      <h4 class="marged text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-money"></li>
      </div>
      <h4 class="marged text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-refresh"></li>
      </div>
      <h4 class="marged text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
    </div>
  </div>
</div>
