<div class="text-center bg-image">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12">
        <div class="intro-text">
          <h1><span>Easy</span> <span>Forex</span></h1>
          <h3>The best website of currency exchange between individuals !</h3>
          <hr>
          <p>-- Opening Soon --</p>
        </div>
      </div>
    </div>
  </div>
</div>
