<div class="bg-image">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12">
        <div class="intro-text">
          <h2>The best website of currency exchange between individuals !</h2>
          <hr>
          <h3>-- Opening Soon --</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-7">
        <div class="promo-box">
          <h4>Are you travelling?</h4>
          <h4>Are you working abroad?</h4>
          <h4>Are you concerning by exchange rate?</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center">How does Easy Forex work?</h2>
    <hr>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-upload"></li>
      </div>
      <h4 class="marged">EasyForex aims to build a user community seeking to exchange currencies whatever the needs. The website was built from a simple assessment: Why should I pay to exchange my savings against others currencies?</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-money"></li>
      </div>
      <h4 class="marged">The answer is simple: You have no choice! As you want to get currencies, for a trip, or anything else, you have to exchange it at a foreign exchange desk and pay fees.</h4>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rounded-icon">
        <li class="fa fa-refresh"></li>
      </div>
      <h4 class="marged">With EasyForex, no need to pay, only find an individual willing to exchange currencies with you.
      And because we are not tied to any specific banks or brokers, we can provide you real market price without fees !</h4>
    </div>
  </div>
</div>
<div class="banner-image">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="about-efx">
          <h2>What does Easy Forex stand for?</h2>
          <%= link_to "Learn more about our community", "#", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
