h1 Learn more about our community
h4 Monea aims to build a user community seeking to exchange currencies whatever the needs. The website was built from a simple assessment: Why should I pay to exchange my savings against others currencies?
h4 The answer is simple: You have no choice! As you want to get currencies, for a trip, or anything else, you have to exchange it at a foreign exchange desk and pay fees.
h4 With Monea, no need to pay, only find an individual willing to exchange currencies with you. And because we are not tied to any specific banks or brokers, we can provide you real market price without fees !
