/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Margin
.marged {
  margin: 40px;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.rounded-icon {
  height        : 100px;
  width         : 100px;
  border-radius : 50%;
  color         : #FF5400;
  font-size     : 50px;
  line-height   : 100px;
  text-align    : center;
  margin        : auto;
  border        : 1px solid #FF5400;
}

hr {
  width      : 200px;
  border-top : 1px solid #505559;
}
