.banner {
  background-size : cover;
  color           : white;
  padding-top     : 50px;
  padding-bottom  : 50px;
  position        : relative;
  z-index         : 0;
}

.banner-content {
  position : relative;
  z-index  : 2;
}

.show-img-cover {
  background-image    : url("https://unsplash.it/1280/1024?random");
  background-size     : cover;
  background-position : center;
  height              : 40vh;
  overflow            : hidden;
}

.index-img-cover {
  background-image    : url("https://unsplash.it/1280/1024?image=693");
  background-size     : cover;
  background-position : center;
  height              : 40vh;
  overflow            : hidden;
}
