.btn{
  border           : 1px solid $green;
  background-color : $green;
  border-radius    : 5px;
}
.btn:hover{
  border           : 1px solid $green;
  border-radius    : 5px;
  background-color : rgba(255, 255, 255, 0.7);
  text-shadow      : none;
  color            : $green;
}
