.btn{
  border: 1px solid $orange;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  color: $orange;
}
.btn:hover{
  border: 1px solid $orange;
  background-color: $orange;
}
