.map-card {
  border           : 2px solid #d3d3d3;
  padding          : 0px 10px;
  margin           : 5px 0px;
  background-color : white;
  border-radius    : 8px;
  // box-shadow       : 0 2px 5px 0 rgba(0,0,0,.26);
}

.card {
  position        : relative;
  // padding         : 50px;
  background-size : cover;
  height          : 150px;
  margin          : 20px auto;
}
