
.post-exchange {
  padding          : 0px 10px;
  margin           : 5px 0px;
  background-color : white;
  &:hover {
    background : #F1F1F1;
  }
}

.post {
  height          : 100px;
  display         : flex;
  justify-content : space-between;
  flew-direction  : row;
  align-items     : center;
}

.post-based-currency {
  width : 200px;
  color : $gray;
}

.post-variable-currency {
  width : 200px;
  color : $gray;
}

.post-icon {
  width     : 100px;
  font-size : 30px;
}

.post-seller {
  width : 100px;
}

.post-city {
  width : 150px;
}

