span.glyphicon.glyphicon-star-empty::before, span.glyphicon.glyphicon-star::before {
  color: #FD7E67;
  font-size: 30px;
}


.review-title {
  margin-top: 50px;
  margin-bottom: 50px
}

.test-green {
  color: #52DD80
}

.reviewed-card {
  width: 100%;
  text-align: center;
  padding-top: 10%
}
